/* The component style is inserted here. */
.root {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vw;
}

.cell {
  display: inline-grid;
  align-items: center;
}

.img {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  max-width: 200px;
  margin: auto;
}