/* The component style is inserted here. */
.root {
  top: 0;
  width: 90%;
  height: 60px;
  padding: 0 5%;
  display: flex;
  position: fixed;
  background: #fff;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  padding: 20px;
}
