/* The component style is inserted here. */
.root {
  grid-area: header;
  height: 60px;
  padding: 0 5%;
  display: flex;
  background: #fff;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  padding: 20px;
}
