@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --fontFamily: 'Roboto Condensed', sans-serif;
  --fontWeight: 300;
  --fontSize: 20px;
  --letterSpacing: 0.025em;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  --webkit-text-size-adjust: 'none';
  text-size-adjust: 'none';
  height: 100vh;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

body > div {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-rows: 60px 1fr 60px;
  grid-gap: 10px;
}
