/* The component style is inserted here. */
.root {
  grid-area: footer;
  height: 60px;
  padding: 0 5%;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: space-between;
}