/* The component style is inserted here. */
.root {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.img {
  align-self: center;
  justify-self: center;
}